body           { font-family: sans-serif; background: #eee; }
a, h1, h2      { color: #377ba8; }
h1, h2         { font-family: 'Georgia', serif; margin: 0.5em; }
h1             { border-bottom: 2px solid #eee; }
h2             { font-size: 1.2em; }

.questions p {
     font-family: sans-serif;
     color: #000000;
     font-weight: bold;
     font-size: 1.4em;
   }
.questions dl {
     width: 100%;
     overflow: hidden;
     padding: 10pt;
     line-height: 2em;
     margin: 0;
     text-align: center;
   }
.questions dt {
     float: left;
     font-weight: bold;
     font-size: 1.2em;
     width: 60%;
     /* adjust the width; make sure the total of both is 100% */
     padding: 0;
     margin: 0
   }
.questions dd {
     float: left;
     width: 35%;
     /* adjust the width; make sure the total of both is 100% */
     padding: 0;
     margin: 0;
   }
.questions select {
     width: 8em;
   }
.questions input[type=submit] {
     font-size: 1.5em;
   }

.menu ul {
     width: 100%;
     overflow: hidden;
     padding: 10pt;
     line-height: 2em;
     margin: 0
   }
.menu li {
     float: left;
     width: 70%;
     /* adjust the width; make sure the total of both is 100% */
     padding: 0;
     margin: 0
   }

.page          { margin: 2em auto; width: 45em; border: 7px solid #ccc; 
                 paddding: 0.8em; background: white; }
.entries       { list-style: none; margin: 0; padding: 0; }
.entries li    { margin: 0.8em 1.2em; }
.entries li h2 { margin-left: -1em; }

.graph         { text-align: center; }

.add-entry     { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry d1  { font-weight: bold; }
.metanav       { text-align: right; font-size: 0.8em; padding: 0.3em;
                 margin-bottom: 1em; background: #fafafa; }
.flash         { background: #eee5F5; padding: 0.5em;
                 border: 1px solid #aacbe2; }
.error         { background: #f0d6d6; padding: 0.5em; }


/* from Trudeau.html */
.wall { 
        height: 400px; 
      }
.wall_inner { 
              margin-left: 30pt;
              position: relative;
            }

.trudeau_all { width: 316px; height: 407px; display: inline-block; 
               background-image: url('images/lineup_background.png'); 
             }
.obama_all { width: 316px; height: 407px; display: inline-block;
             background-image: url('images/lineup_background.png'); 
           }

#trudeauSlider { width: 10px; height: 100%; background: #377ba8; }
#obamaSlider { width: 10px; height: 100%; background: #377ba8; }
#userSlider { height: 10px; width: 18%; background: #377ba8; }

.trudeau_stack { text-align: center; }
.trudeau_stack div { width: 196px; margin-left: 10px; position: absolute; bottom: 0;}
.trudeau_stack div:nth-child(2) { margin-left: 8px; margin-bottom: 192px; }
#trudeauLabel { position: absolute; width: 120px;
                margin: 5px; left: 175px; bottom: 90px; background: #ebebe0;
                color: blue;
                font-weight: bold; font-size: 1.5em; }

.obama_stack { text-align: center; }
.obama_stack div { width: 196px; margin-left: 10px; position: absolute; bottom: 0;}
#obamaLabel { position: absolute; width: 120px;
              margin: 5px; left: 175px; bottom: 90px; background: #ebebe0;
              color: blue;
              font-weight: bold; font-size: 1.5em; }

.user_slider_all { margin: 1em auto; text-align: center; }
.user_slider_all div { display: inline-block; font-weight: bold; font-size: 1.25em; }
.user_slider_all div:nth-child(1) { width: 60%; }
.user_slider_all div:nth-child(2) { width: 15%; }
.user_slider_all div:nth-child(3) { width: 15%; }

.user_gender_all { margin: 1em auto; text-align: center; }
.user_gender_all div { display: inline-block; font-weight: bold; font-size: 1.25em; }

