body           { font-family: sans-serif; background: #eee; }
a, h1, h2      { color: #377ba8; }
h1, h2         { font-family: 'Georgia', serif; margin: 0.5em; }
h1             { border-bottom: 2px solid #eee; }
h2             { font-size: 1.2em; }

.menu ul {
     width: 100%;
     overflow: hidden;
     padding: 10pt;
     line-height: 2em;
     margin: 0
   }
.menu li {
     float: left;
     width: 70%;
     /* adjust the width; make sure the total of both is 100% */
     padding: 0;
     margin: 0
   }

.page          { margin: 2em auto; width: 45em; border: 7px solid #ccc; 
                 paddding: 0.8em; background: white; }

.graph         { text-align: center; }

.metanav       { text-align: right; font-size: 0.8em; padding: 0.3em;
                 margin-bottom: 1em; background: #fafafa; }
.flash         { background: #eee5F5; padding: 0.5em;
                 border: 1px solid #aacbe2; }
.error         { background: #f0d6d6; padding: 0.5em; }


/* from Trudeau.html */
.outer_wall { text-align: center; display: table; margin: 1em; }
.instructions { width: 23%; font-size: 1.1em; display: table-cell; }
.wall { 
        display: table-cell;
        height: 200px; 
      }
.wall_inner { 
              margin-left: 15pt;
              position: relative;
            }

.trudeau_all { width: 158px; height: 204px; display: inline-block; 
               background-image: url('images/lineup_background_small.png'); 
             }
.user_all { width: 158px; height: 204px; display: inline-block;
             background-image: url('images/lineup_background_small.png'); 
           }

#trudeauSlider { width: 10px; height: 100%; background: #377ba8; }
#userSlider { width: 10px; height: 100%; background: #377ba8; }

.trudeau_stack { text-align: center; }
.trudeau_stack div { width: 196px; margin-left: 10px; position: absolute; bottom: 0;}
.trudeau_stack div:nth-child(2) { margin-left: 8px; margin-bottom: 96px; }
#trudeauLabel { position: absolute; width: 75px;
                margin: 5px; left: 10px; bottom: 15px; background: #ebebe0;
                color: blue;
                font-weight: bold; font-size: 0.8em; }

.user_stack { text-align: center; }
.user_stack div { width: 196px; margin-left: 10px; position: absolute; bottom: 0;}
#userLabel { position: absolute; width: 75px;
             margin: 5px; left: 10px; bottom: 15px; background: #ebebe0;
             color: blue;
             font-weight: bold; font-size: 0.8em; }

.user_slider_all { margin: 1em auto; text-align: center; }
.user_slider_all div { display: inline-block; font-weight: bold; font-size: 1.1em; }
.user_slider_all div:nth-child(1) { width: 60%; }
.user_slider_all div:nth-child(2) { width: 15%; }
.user_slider_all div:nth-child(3) { width: 15%; }

.user_gender_all { margin: 1em auto; text-align: center; }
.user_gender_all div { display: inline-block; font-weight: bold; font-size: 1.1em; }

