{% extends "layout.html" %}
{% block body %}
  <div class=questions>
  <form action="{{ url_for('show_questionnaire_answers') }}" method=post class=add-entry>
      <dl>
          <dt> How tall is Justin Trudeau (in cm)?
          <dd><input type=text size=5 name=trudeau>
          <dt> How tall is Stephen Harper (in cm)?
          <dd><input type=text size=5 name=harper>
          <dt> How tall is Barack Obama (in cm)?
          <dd><input type=text size=5 name=obama>
          <dt> Who makes the best pizza?
          <dd><select name=pizza>
                <option selected='selected' disabled='disabled'>pick one!</option>
                <option value='Nova'>Pizza Nova</option>
                <option value='Pizzaiolo'>Pizzaiolo</option>
                <option value='Panago'>Panago</option>
                <option value='Blaze'>Blaze Pizza</option>
                <option value='Subway' size=15>Subway</option>
              </select>
          <dt> Beer or wine?
          <dd><select name=drink>
                <option selected='selected' disabled='disabled'>pick one!</option>
                <option value='beer'>Beer!</option>
                <option value='wine'>Wine</option>
                <option value='nothing_to_drink'>Neither</option>
              </select>
          <br><br>
          <dt> How tall are you (in cm)?
          <dd><input type=text size=5 name=user_height>
          <dt> What is your (Canadian) shoe size?
          <dd><input type=text size=5 name=user_shoe>
          <dt> What is your gender?
          <dd><select name=user_gender>
                <option selected='selected' disabled='disabled'>pick one!</option>
                <option value='male'>Male</option>
                <option value='female' size=15>Female</option>
              </select>
      </dl>
      <p align=center><input type=submit name=submit value='submit!'></p>
  </form>
  </div>
<!--  <ul class=entries>
      {% for entry in entries %}
        <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
      {% else %}
        <li><em>Unbelievable.  No entries here so far</em>
      {% endfor %}
  </ul>
  -->
{% endblock %}

